@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

@import "tailwindcss";
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.ant-message {
  z-index: 9999 !important;
  letter-spacing: 1px;
}

.logo {
  font-family: "Nunito", sans-serif;
}

label {
  font-weight: 600;
}
