NEXTAUTH_URL=YOUR_NEXT_URL
NEXTAUTH_SECRET=YOUR_NEXT_SECRET_KEY

# Server-side (SSR/Server Components)
API_BASE_URL=

# Client-side (browser)
NEXT_PUBLIC_API_BASE_URL=


# Midtrans
MIDTRANS_SERVER_KEY=YOUR_MIDTRANS_SERVER_KEY
MIDTRANS_CLIENT_KEY=YOUr_MIDTRANS_CLIENT_KEY