@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

@import "tailwindcss";
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

#root {
  scrollbar-color: transparent transparent;
}

.title {
  font-family: "Nunito", sans-serif;
  color: #263241;
}

.content {
  font-family: "Poppins", sans-serif;
}

.logo {
  font-family: "Nunito", sans-serif;
}

ul li:hover {
  color: orange;
}