@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import "tailwindcss";
* {
  /* padding: 0;
  margin: 0;
  box-sizing: border-box; */
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.ant-message {
  z-index: 9999 !important;
  letter-spacing: 1px;
}

.logo {
  font-family: "Nunito", sans-serif;
}

.bottom-navbar ul {
  font-family: "Poppins", sans-serif;
  /* font-size: 13px; */
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

label {
  font-weight: 700;
}

.button-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.fade-slide {
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.fade-slide.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.fade-enter {
  opacity: 0;
  transform: translateY(10px);
}
.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 300ms ease-in-out;
}
.fade-exit {
  opacity: 1;
  transform: translateY(0);
}
.fade-exit-active {
  opacity: 0;
  transform: translateY(10px);
  transition: all 300ms ease-in-out;
}

.dropdown-header-nav {
  cursor: default !important;
}

.base-blue {
  background-color: #d9eafd;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, dan Opera */
}

.carousel-blog {
  width: 100%;
  overflow-x: hidden;
  margin: 1em auto;
  padding: 0px 2rem;
  display: flex;
  gap: 1em;
  /* scroll-behavior: smooth !important; */
  scroll-behavior: auto;
  transition: all 0.3s ease;
  will-change: scroll-position !important;
}

.carousel-blog::-webkit-scrollbar {
  display: none;
}

.blog-card {
  flex: 0 0 20em;
  transition: all 0.3s ease;
}
.mobile-cardList::-webkit-scrollbar {
  display: none !important;
}

.mobile-cardList {
  -ms-overflow-style: none; /* untuk IE dan Edge */
  scrollbar-width: none; /* untuk Firefox */
}

@media screen and (max-width: 720px) {
  .ant-result-title {
    font-size: 24px !important;
  }
}
@media screen and (max-width: 420px) {
  .ant-result-title {
    font-size: 15px !important;
  }
}

/*
Source - https://stackoverflow.com/a
Posted by Blowsie, modified by community. See post 'Timeline' for change history
Retrieved 2026-01-10, License - CC BY-SA 4.0
*/

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
